#intro {
  position: relative;
  width: 100%;
  margin: 0;
}

#intro #intro-img {
  width: 100%;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

.mySlides {
  display: none;
}

@keyframes fade {
  from {opacity: 0.5;} 
  to {opacity: 1;}
}


#intro-text-box {
  position: absolute;
  top: 28%;
  right: 8%;
  height: 500px;
  width: 520px;
  margin: 0;
}

#karo {
  position: absolute;
  width: 125px;
  height: 66px;
  left: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
  color: var(--text-color);
}

#jhatcut-logo {
  position: absolute;
  width: 222px;
  height: 124px;
  left: 110px;
  top: 6%;
  margin: 0;
}

#message {
  margin: 0;
  position: absolute;
  left: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 66px;
  color: var(--text-color);
  white-space: nowrap;
}

#app {
  position: absolute;
  left: 0;
  top: calc(7% + 56px);
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: var(--text-color);
}

#intro #scroll-down {
  position: absolute;
  width: 121.89px;
  height: 111.7px;
  left: 45%;
  bottom: 0;
  margin: 0;
}

#about {
  margin: 0;
  width: 100%;
  text-align: center;
  position: relative;
  background-color: var(--secondary-main-4);
  top: -4px;
}

#about #text-section {
  padding: 20px;
}

#about #about-heading {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 56px;
  color: var(--text-color);
}

#about #about-intro {
  margin: 0 auto;
  font-family: "Biryani";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--text-color);
  width: 50%;
  padding: 20px 0;
}

#about #why-us {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase;
  /* Primary/Main-4 */

  color: var(--primary-main-4);
}

#about #features {
  display: grid;
  position: relative;
  grid-template: "a b c";
  margin: 0 auto;
  justify-content: space-around;
  padding-bottom: 50px;
  width: 100%;
}

#about .rect {
  position: relative;
  width: 300px;
  height: 204px;
  margin: 0;
  background: linear-gradient(98.69deg, #c56aff 11.33%, #832fb8 96.69%);
  border-radius: 20px;
}

#about .feature {
  width: 85%;
  margin: 0 auto;
  border: none;
}

#about #rect1 {
  grid-template-areas: "a";
}

#about #rect2 {
  grid-template-areas: "b";
}

#about #rect3 {
  grid-template-areas: "c";
}

#about .rect-para {
  /* Guaranteed NO WAITING else Free Service No T&C */
  /* position: absolute;
  width: 312px;
  height: 84px;
  left: 174px;
  top: 476px; */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  text-transform: capitalize;
  color: var(--text-color);
  margin: 0 auto;
  padding: 0;
}

#about #rect2 #d {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: var(--text-color);
  margin: 0 auto;
  padding: 0;
}

#about .rect-div {
  position: absolute;
  top: 8%;
  width: 75%;
  left: 12.5%;
  margin: 0 auto;
}

#services {
  margin: 0;
  width: 100%;
  text-align: center;
  position: relative;
  background-color: var(--secondary-main-4);
  top: -4px;
  position: relative;
}

#services #text-section {
  padding: 20px;
}

#services #services-heading {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 56px;
  color: var(--text-color);
  padding: 20px 0;
}

#services #services-intro {
  margin: 0 auto;
  font-family: "Biryani";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--text-color);
  width: 50%;
}

#services #images-div {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  row-gap: 50px;
  position: relative;
  padding: 5% 0;
}

#services .image-div {
  display: flex;
  column-gap: 50px;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

#women-services {
  flex-direction: row-reverse;
}

.image-div #picture {
  width: 60%;
}

.image-div .s {
  width: 30%;
}

#services #for-men {
  position: relative;
  width: 80%;
  margin: 0 auto;
  left: -3%;
}

#services #for-women {
  position: relative;
  width: 80%;
  margin: 0 auto;
  right: -3%;
}

#download {
  margin: 0;
  width: 100%;
  text-align: center;
  position: relative;
  background-color: var(--secondary-main-4);
  top: -4px;
  position: relative;
}

#download #content {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 5% 0;
  width: 80%;
  position: relative;
}

#download-section-mobile {
  display: none;
}

#download #download-section p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;
  color: var(--text-color);
}

#download #download-section h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  color: var(--text-color);
}

#download #download-section span {
  color: #c56aff;
}

#download #qrcode {
  width: 40%;
}

#download #playstore-btn {
  width: 50%;
}

#app-preview {
  width: 50%;
}

@media screen and (max-width: 700px) {
  #about #text-section {
    padding: 0px;
  }

  #about .feature {
    width: 70%;
    margin: 0 auto;
  }

  #about #about-heading {
    font-size: 25px;
    line-height: 38px;
  }

  #about #about-intro {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    width: 70%;
  }

  #about #features {
    grid-template:
      "a"
      "b"
      "c";
    row-gap: 40px;
  }

  #services #text-section {
    padding: 20px;
  }

  #services #services-heading {
    font-size: 32px;
    line-height: 38px;
    color: var(--text-color);
    padding: 20px 0;
  }

  #services #services-intro {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    width: 70%;
  }

  #services .image-div {
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 20px;
  }

  .image-div #picture {
    width: 100%;
  }
  
  .image-div .s {
    width: 65%;
  }

  #download #content {
    padding: 5% 0;
    width: 80%;
    flex-wrap: wrap;
  }

  #download-section {
    display: none;
  }

  #download #app-preview {
    display: none;
  }

  #app-preview-mobile {
    display: block;
    width: 70%;
    margin: 0 auto;
  }

  #download-section-mobile {
    display: block;
  }

  #download-section-mobile p {
    font-size: 26px;
    line-height: 38px;
    color: var(--text-color);
    padding: 0;
  }

  #download-section-mobile h1 {
    font-size: 22px;
    line-height: 30px;
    color: var(--text-color);
  }

  #download-section-mobile #qrcode {
    width: 60%;
    margin: 0 auto;
  }

  #download-section-mobile #playstore-btn {
    width: 60%;
    margin: 2px auto;
  }
}
